.page-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }


  .image-wrapper {
    height: 100vh;
    width: 100vw;

    .cinematic-shot {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
      object-position: 0 65%;
      filter: brightness(0.85);
      scale: 1;
    }

    div {
      position: absolute;
      width: 100vw;
      margin: auto;
      top: 47%;
      left: 2%;

      span {
        position: absolute;
        font-size: 26vw;
        font-family: 'silk-serif';
        color: #d7c4b8ff;
        opacity: 1;
      }

      .right {
        left: 68vw;
      }
    }
  }


  .block-1 {
    background-color: #ede1d8ff;

    .description-1 {
      padding-top: 3em;
      padding-bottom: 4em;
      display: flex;
      justify-content: center;

      span {
        width: 30vw;
      }
    }

    .description-2 {
      height: 85vh;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        width: 70vw;
        font-family: 'silk-serif';
        font-size: 32px;
        text-align: center;

        i {
          font-weight: 300;
        }
      }
    }

    .description-3 {
      padding-top: 1.5em;
      padding-bottom: 6em;
      display: flex;
      justify-content: center;

      span {
        width: 15vw;
      }
    }
  }


  .block-2 {
    width: 100vw;
    background-color: #1D110E;
    color: #8c7b70ff;

    .chapter {
      padding: 6em 0;
    }

    .description-1 {
      height: 65vh;
      width: 90vw;
      margin: auto;
      font-family: 'silk-serif';
      font-size: 54px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.1em;
    }

    .image-display-container {
      position: relative;
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .timeline {
        position: absolute;
        height: 160vh;
        top: -10vh;
        border-left: 1.5px solid #a5887fff;
      }

      .row-1 {
        z-index: 10;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 6em;

        img {
          height: 130px;
          width: 95px;
          object-fit: cover;
        }
      }

      
      .row-2 {
        z-index: 10;
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding-bottom: 6em;

        img {
          height: 180px;
          width: 130px;
          object-fit: cover;
        }
      }

      .row-3 {
        z-index: 10;
        display: flex;
        justify-content: center;
        width: 80%;
        padding-bottom: 5em;

        img {
          height: 250px;
          width: 200px;
          object-fit: cover;
        }
      }
    }

    .description-2 {
      padding-bottom: 6em;
      display: flex;
      justify-content: center;

      span {
        width: 30vw;
      }
    }

    .description-3 {
      height: 65vh;
      width: 90vw;
      margin: auto;
      font-family: 'silk-serif';
      font-size: 54px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.1em;
      padding-bottom: 8em;
    }
    
    .description-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 3em;

      span {
        width: 75vw;
        font-family: 'silk-serif';
        font-size: 24px;
        text-align: center;
        font-weight: 300;
      }
    }
  }



  // .block-3 {
  //   background-color: rgb(26, 223, 121);
  // }
}

.small-des {
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-size: 8px;
  text-align: center;
  line-height: 9px;
}