.page-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }


  .image-wrapper {
    height: 100vh;
    width: 100vw;

    .cinematic-shot {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
      object-position: 0 65%;
      filter: brightness(0.85);
      scale: 1;
    }

    div {
      position: absolute;
      width: 100vw;
      margin: auto;
      top: 47%;
      left: 2%;

      span {
        position: absolute;
        font-size: 26vw;
        font-family: 'silk-serif';
        color: #d7c4b8ff;
        opacity: 1;
      }

      .right {
        left: 68vw;
      }
    }
  }


  .block-1 {
    background-color: #ede1d8ff;

    .description-1 {
      padding-top: 3em;
      padding-bottom: 5em;
      display: flex;
      justify-content: center;

      span {
        width: 32vw;
      }
    }

    .description-2 {
      height: 85vh;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        width: 70vw;
        font-family: 'silk-serif';
        font-size: 56px;
        text-align: center;

        i {
          font-weight: 300;
        }
      }
    }

    .description-3 {
      padding-top: 1.5em;
      padding-bottom: 6em;
      display: flex;
      justify-content: center;

      span {
        width: 15vw;
      }
    }
  }


  .block-2 {
    width: 100vw;
    background-color: #1D110E;
    color: #8c7b70ff;

    .chapter {
      padding: 6em 0;
    }

    .description-1 {
      height: 65vh;
      width: 90vw;
      margin: auto;
      font-family: 'silk-serif';
      font-size: 100px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.1em;
    }

    .image-display-container {
      position: relative;
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .timeline {
        position: absolute;
        height: 148vh;
        top: -10vh;
        border-left: 1px solid rgba(165, 136, 127, 0.536);
      }

      .row-1 {
        z-index: 10;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 6em;

        img {
          height: 215px;
          width: 160px;
          object-fit: cover;
        }
      }


      .row-2 {
        z-index: 10;
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding-bottom: 6em;

        img {
          height: 290px;
          width: 220px;
          object-fit: cover;
        }
      }

      .row-3 {
        z-index: 10;
        display: flex;
        justify-content: center;
        width: 80%;
        padding-bottom: 5em;

        img {
          height: 500px;
          width: 380px;
          object-fit: cover;
        }
      }
    }

    .description-2 {
      padding: 6em;
      display: flex;
      justify-content: center;

      span {
        width: 30vw;
      }
    }

    .description-3 {
      height: 65vh;
      width: 90vw;
      margin: auto;
      font-family: 'silk-serif';
      font-size: 100px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.1em;
      padding-bottom: 8em;
    }

    .description-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 3em;

      span {
        width: 75vw;
        font-family: 'silk-serif';
        font-size: 40px;
        text-align: center;
        font-weight: 300;
      }
    }
  }



  .block-3 {
    height: 500vh;
    background-color: #ede1d8ff;
    color: #9b8d84;



    .chapter {
      padding: 6em 0 10em 0;
    }

    .section-title {
      height: 60vh;
      width: 50vw;
      margin: auto;
      font-family: 'silk-serif';
      font-size: 180px;
      text-align: center;
      text-transform: uppercase;
      line-height: 140px;
    }

    .expertise-list-container {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 95vw;
      font-family: 'silk-serif';
      font-size: 120px;
      text-align: center;
      text-transform: uppercase;
      line-height: 110px;
      padding-bottom: 1em;

      .item-1 {
        width: 70vw;
        text-align: end;
        margin-left: auto;
      }

      .item-2 {
        width: 70vw;
        text-align: end;
        margin-left: auto;
      }

      .item-5 {
        width: 70vw;
        text-align: start;
      }

      .item-7 {
        text-align: start;
      }

      .item-6 {
        width: 70vw;
        text-align: start;
      }
    }

    .image-container {
      display: flex;
      justify-content: center;
      width: 100vw;
      gap: 15px;

      img {
        width: 47vw;
        height: 65vh;
        object-fit: cover;
        filter: grayscale(0.3);
      }
      .group {
        object-position: 0 60%;
      }

      .plant {
        object-position: 0 75%;
      }
    }
  }
}

.small-des {
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}