.loading-container {
  // background-color: #633718ff;
  background-color: rgb(50, 17, 14);
  position: fixed;
  z-index: 50;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Work Sans', sans-serif;

  .name-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20vw;


    .row {
      display: flex;
      justify-content: space-between;
      height: 40vh;

      span {
        width: 12vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        color: #dab391ff;
      }
    }
  }

  .center-animation {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;

    &:after {
      content:"";
      position: absolute;
      top: 20%;
      left: 50%;
      height: 60%;
      border-left: 1px solid #a8a8a8ff;
      transform: translate(-50%);
    }

    
    &:before {
      content:"";
      position: absolute;
      top: -37.5%;
      left: 50%;
      height: 175%;
      border-left: 1px solid #a8a8a8ff;
      transform: translate(-50%) rotate(90deg);
    }

    .turning-piece {
      position: absolute;
      height: 100vh;
      width: 100vw;
      transform: rotate(50deg);
      // animation: rotate 1.75s ease-in-out 0.75s 1 normal forwards;

      .line {
        position: absolute;
        border-left: 1.5px solid #a8a8a8ff;
        transform-origin: left bottom;
      }

      .skew-1 {
        height: 75vh;
        left: 50vw;
        top: -25vh;
        transform: rotate(50deg);

      }

      .skew-2 {
        height: 100vh;
        left: 50vw;
        top: -50vh;
        transform: rotate(235deg);
      }

      .skew-3 {
        height: 45vh;
        left: 50vw;
        top: 5vh;
        transform: rotate(30deg);
      }

      .skew-4 {
        height: 60vh;
        left: 50vw;
        top: -10vh;
        transform: rotate(245deg);
      }

      .skew-5 {
        height: 120vh;
        left: 50vw;
        top: -70vh;
        transform: rotate(285deg);
      }
    }
  }

  .center-description {
    position: absolute;
    color: #dab391;
    font-family: 'silk-serif';
    font-size: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    p {
      text-align: center;
      width: 70%;
      word-spacing: 1px;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(50deg);
  }
}