.loading-container {
  background-color: #633718ff;
  position: absolute;
  z-index: 50;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Work Sans', sans-serif;

  .name-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20em;


    .row {
      display: flex;
      justify-content: space-between;

      span {
        height: 280px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        color: #dab391ff;
      }

      .upper {
        align-items: flex-end;
      }

      .lower {
        align-items: flex-start;
      }
    }
  }

  .center-animation {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    &:after {
      content:"";
      position: absolute;
      top: 12.5%;
      left: 50%;
      height: 75%;
      border-left: 1px solid black;
      transform: translate(-50%);
    }

    
    &:before {
      content:"";
      position: absolute;
      top: -25%;
      left: 50%;
      height: 150%;
      border-left: 1px solid black;
      transform: translate(-50%) rotate(90deg);
    }

    .turning-piece {
      position: absolute;
      height: 100vh;
      width: 100vw;
      transform: rotate(0deg);
      animation: rotate 1.75s ease-in-out 0.75s 1 normal forwards;

      .line {
        position: absolute;
        border-left: 1.5px solid #a8a8a8ff;
        transform-origin: left bottom;
      }

      .skew-1 {
        height: 75vh;
        left: 50vw;
        top: -25vh;
        transform: rotate(50deg);

      }

      .skew-2 {
        height: 100vh;
        left: 50vw;
        top: -50vh;
        transform: rotate(235deg);
      }

      .skew-3 {
        height: 45vh;
        left: 50vw;
        top: 5vh;
        transform: rotate(30deg);
      }

      .skew-4 {
        height: 60vh;
        left: 50vw;
        top: -10vh;
        transform: rotate(245deg);
      }

      .skew-5 {
        height: 120vh;
        left: 50vw;
        top: -70vh;
        transform: rotate(285deg);
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(50deg);
  }
}